body {
  font-family: Arial, Helvetica, sans-serif, "Anton", sans-serif;
  overflow-x: hidden;
}

.ul-navbar {
  font-family: "Krona One", sans-serif;
  font-size: 20px;
}

@media (max-width: 1023px) {
  .ul-navbar {
    visibility: hidden;
  }
}

img {
  max-width: 100%;
  height: auto;
}

ul li {
  list-style: none;
  padding: 6px;
}

.tech-icon {
  width: 4rem; /* Ajusta el tamaño según sea necesario */
  height: 4rem; /* Ajusta el tamaño según sea necesario */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff; /* Fondo blanco para la visibilidad */
  border-radius: 0.75rem;
  padding: 0.4rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.tech-icon:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.education-container {
  display: flex;
  max-width: 64rem; /* 4xl en términos de Tailwind */
  width: 100%;
  align-items: center;
}

.education-content {
  flex-grow: 1;
  padding-right: 1.5rem;
}

.education-item {
  margin-left: 2.5rem;
}

.tech-icon {
  position: relative;
  display: inline-block;
  text-align: center;
}

.tech-icon img {
  display: block;
  width: 100px; /* Ajusta el tamaño según sea necesario */
  height: auto;
}

.tech-label {
  display: block;
  margin-top: 1.1rem; /* Espacio entre la imagen y el texto */
  color: #333; /* Color del texto */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.tech-icon:hover .tech-label {
  opacity: 1;
}



