---
import '../styles/components.scss'
---

<ul class="ul-navbar flex gap-10">
  <li><a href="#about">ABOUT</a></li>
  <li><a href="#projects">PROJECTS</a></li>
  <li><a href="#education">EDUCATION</a></li>
  <li><a href="/contact">CONTACT</a></li>
</ul>


